* {
    box-sizing: border-box;
}
.container {
    border-radius: 5px;
    background-color: #dbdbdb;
    padding: 20px;
}
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}
label {
    padding: 12px;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px dotted #ccc;
    border-radius: 5px;
}
input[type=submit] {
    background-color: rgb(9, 169, 9);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
}
/* clearfix */
.row::after {
    content: "";
    clear: both;
    display: table;
}
input[type=submit]:hover {
    background-color: rgb(8, 118, 8)
}

/* Responzivita */
@media screen and (max-width: 800px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}